# Ignore .terraform directories
**/.terraform/*

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform backup files
*.backup
*.bak


# Ignore Terraform lock file
.terraform.lock.hcl
